/*impostazione generale */

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/*impostazione logo*/

nav > img{
    width: 120px;
    margin-left: 40px;
    position: relative;
}

/*nomi città*/

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.542);
    color: white;
    border-radius: 15px;
    width: 200px;
    text-align: center;
}

/*impostazione background*/

.background-newyork, .background-rome, .background-amsterdam{
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center;
} 

.background-newyork{
    background-image: url(img/newyork.jpg);
}

.background-rome{
    background-image: url(img/rome.jpg);
}

.background-amsterdam{
    background-image: url(img/amsterdam.jpg);
}

/*impostazione layover */

.layover-newyork, .layover-rome, .layover-amsterdam{
    height: 100vh;
}

.layover-newyork{
    background-color: rgba(255, 20, 251, 0.211);
}

.layover-rome{
    background-color: rgba(255, 255, 20, 0.211);
}

.layover-amsterdam{
    background-color: rgba(255, 20, 20, 0.228);
}

